.app {
  background-color: var(--color-bg);
  padding: 30px;
  min-width: 1340px;
  height: calc(100vh - 64px);
  overflow: overlay;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 0.15s;

  &_anim {
    opacity: 1;
  }



  &_skilla {
    min-height: 100vh;
    height: auto;
  }

  span {
    font-weight: 400;
    line-height: 18px;
    color: var(--color-text-secondary);
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 16px;

}

.header {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.container {
  /* max-width: 1558px; */
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.button {
  background-color: #002CFB;
  height: 44px;
  padding: 10px 12px 10px 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 148%;
  border-radius: 4px;
  transition: all 0.15s;
  cursor: pointer;
  margin-left: auto;
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(120px);

  &:hover {
    background-color: #0028E5;
  }



  &_anim {
    opacity: 1;
    transform: translateX(0);

    &:disabled {
      pointer-events: none;
      opacity: 0.8;
    }
  }
}


.pro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  width: 100%;
  max-width: calc(100% - 240px);
  color: var(--color-text-secondary);


  p {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 120px;
    transition: all 0.2s;
    font-size: 18px !important;

    &:hover {
      opacity: 0.8;
    }
  }



  span {
    margin: 0 6px;
  }
}